<h3>Все элементы категории:</h3><br />

<% @elements.each do |e| %>
  <div class="element_menu">
    <div class="btn-group">    
      <%= link_to (raw('<i class="icon-eye-open"></i> ') + e.name),
        category_element_path(category_id: e.category.id, id: e.id), class: 'btn' %>

      <% if can? :manage, e %>
        <%= link_to raw('<i class="icon-wrench icon-white"></i> Редактировать'),
          edit_category_element_path(category_id: e.category.id, id: e.id),
          class: 'btn btn-success' %>

        <%= link_to raw('<i class="icon-remove icon-white"></i> Удалить'),
          category_element_path(category_id: e.category.id, id: e.id),
          method: :delete, confirm: 'Вы уверены?', class: 'btn btn-danger'  %>
      <% end %>

    </div>
  </div>
<% end %><br />

<div><%= link_to 'На главную', root_path %></div>