<h3>Выбранный элемент:</h3><br />

<div><%= image_tag @element.image %></div><br />
<div><%= @element.name %></div><br /><br />

<div><%= link_to 'Назад в категорию', category_path(@element.category.id) %></div>
