<h1>Все категории:</h1>

<% @categories.each do |c| %>
  <p><%= link_to c.name.capitalize, category_path(c.id) %></p>
<% end %>
<br />
<p><%= link_to 'Создать категорию', new_category_path %></p>

<p><%= debug params %></p>
