<h3>Все категории:</h3>

<% @categories.each do |c| %>
  <p>
    <%= link_to c.name.capitalize, category_path(c.id) %> - 
    <%= link_to "Удалить",
      category_path(c.id), method: :delete, confirm: "Вы уверены?" %>
  </p>
<% end %>
<br />
<p><%= link_to 'Создать категорию', new_category_path %></p>

<p><%= debug params %></p>
