<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то (возможно Вы) запросил ссылку для смены пароля. Вы можете сделать это перейдя по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если Вы не запрашивали смену пароля, игнорируйте это сообщение.</p>
<p>Ваш пароль не изменится, пока вы не перейти по ссылке выше и не создадите новый пароль.</p>
